<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jacob.airquality">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- GPS & Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AirQuality">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:name="com.jacob.airquality.MapActivity"
            android:exported="true" />
        <activity
            android:name="com.jacob.airquality.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3001608230251687~2809831636" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDymwJkueReDBfLOy-rhKCvjxLyaYtt3A8" />
    </application>

</manifest>